:root {
	
	/* Variables!! */
	
	/* Colours */
	
	--clr-prim: #0099ff; 
	--clr-sec: hsl(204, 100%, 94%);
	--clr-dark: #406493;
	--clr-brown: #673e00;
	
	
}



body {
	padding-top: 64px;
	position: relative;
}


/* Maybe style this differently for colapased nav and not ??? */
.dropdown-menu {
	background: var(--clr-prim);
	border: none;
}






.header {
	height: calc(100vh - 64px);
}


.logo {
	width: 150px;
}

.navbar {
	background: var(--clr-prim);
}

.jumbotron {
	background: url("../images/map.jpg"); /* Why did /images.. not work here? Why did I need the ../images...? */
	background-color: var(--clr-sec);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	border-radius: 0;
}

.jumbo__text {
	color: #fff;
}

.jumbo__btn {
	background: var(--clr-prim);
}

section {
	padding: 30px 0;
}

h2 {
	text-align: center;
	padding-bottom: 20px;
	color: var(--clr-prim);
}



.about h2 {
	
}


.about__img {
	width: 300px;
	border-radius: 50%;
	display: block;
}


 .about__text {
	 padding-top: 20px;
 }
 
 @media (min-width: 768px) {
	 
	 .about__text {
		 border-left: solid 4px var(--clr-prim);
	 }
 
 }
 

.countries {
	background: var(--clr-sec);
}
 
.countries__img {
	display: block;
	width: 100%;
	height: auto;
}


.countries__btn {
	background: var(--clr-prim);
	color: #fff;
}

.card-body h3 {
	color: var(--clr-prim);
}
 
.countries__card > .card {
	border: none;
}
 
 
 









.footer {
	background-color: var(--clr-prim);
	text-align: center;
	height: 60px;
}

.footer__copy {
	line-height: 60px;
}
 
