:root {
	
	/* Variables!! */
	
	/* Colours */
	
	--clr-prim: #0099ff; 
	--clr-sec: #e0f3ff;
	--clr-dark: #406493;
	--clr-brown: #673e00;
	
	
}

html {
	scroll-behavior: smooth;
}

body {
	padding-top: 64px;
	position: relative;
}








section {
	padding: 30px 0;
}

.container {
	padding-top:94px;
	margin-top:-94px;
}

.header {
	height: 100vh;
	padding-top:64px;
	margin-top:-64px;
}


.logo {
	width: 150px;
}

.navbar {
	background: var(--clr-prim);
}

.jumbo-home {
	background: url("../images/map.jpg");
}

.jumbo-philippines {
	background: url("../images/philippines.jpg");
}

.jumbotron {
	background-color: var(--clr-sec);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	border-radius: 0;
}



.jumbo__text {
	color: #fff;
}

.jumbo__btn {
	background: var(--clr-prim);
}


.nav-link.active {
	/* background: red; */
	/* color: greenyellow !important; */
	font-weight: 700;
}

.nav-link:hover {
	text-decoration: underline;
}

.dropdown-menu {
	background: var(--clr-sec);
	max-width: max-content;
	border: none;
}

.dropdown-item:hover {
	background: var(--clr-dark);
	color: white;
}











h2 {
	text-align: center;
	padding-bottom: 20px;
	color: var(--clr-prim);
}



.about h2 {
	
}


.about__img {
	width: 300px;
	border-radius: 50%;
	display: block;
}


 .about__text {
	 padding-top: 20px;
 }
 
 @media (min-width: 768px) {
	 
	 .about__text {
		 border-left: solid 4px var(--clr-prim);
	 }
 
 }
 

.countries {
	background: var(--clr-sec);
}
 

.countries__btn {
	background: var(--clr-prim);
	color: #fff;
}



.card-body h3 {
	color: var(--clr-prim);
}
 

 
 









.footer {
	background-color: var(--clr-prim);
	text-align: center;
	height: 60px;
}

.footer__copy {
	line-height: 60px;
	margin: 0;
}
 
